h1{
    text-align: center;
    padding-top: 50px;
    font-size: 2rem;
}

#tableAdmin{
   padding-top: 50px;
   padding-bottom: 50px;
}

.table {
    padding-top: 400px;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
  }
  

  .table th {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
  }
  

  .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    max-width: 300px;
    height: fit-content;
    word-wrap: break-word;
  }
  


  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  

  .table tbody tr:hover {
    background-color: #e9ecef;
  }

  .dNone{
    display: none;
  }

  #navDash ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #efe9e1;
    a{
      cursor: pointer;
    }
}
  