#indexFormules{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
    
    


    img{
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
    }
}

.divFormules{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: center;
    flex-wrap: wrap;
    
}

.textFormules{
    display: flex;
    flex-direction: column;
    gap: 40px;

    .textSize{
        width: 35vw;
        font-size: 15px;

        h2{
           padding-bottom: 20px;
           font-size: 3rem;
        }

        .formulePrix{
            padding-top: 20px;
            font-size: 20px;
            padding-bottom: 40px;
        }

        .formuleDescr{
            letter-spacing: 1px;
            word-spacing: 2px;
            line-height: 1.2;
            font-size: 20px;
        }
        
    }

    a{
        background-color: #efe9e1;
        padding: 10px;
        border-radius: 50px;
        width: fit-content;
    
    }

    a:hover{
        color: black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }

    .brochure{
        font-size: 19px;
        background-color: #efe9e1;
        border-radius: 30px;
        width: 100px;
        margin: auto;
        padding: 10px;
        margin-top: 50px;
    }

    .brochure:hover{
        color: black;
        transform: translateY(-30px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }
    
   
}