.hIndex{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 20px;
    font-size: 2rem;
}

.indexPres{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    
    img{
        width: 500px;
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
    }

    .homeText{
        h2{
            padding-bottom: 20px;
        }

        a{
            font-size: 19px;
            background-color: wheat;
            border-radius: 30px;
            width: 100px;
            margin: auto;
            padding: 10px;
          
        }

        a:hover{
            color: black;
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        }

        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
    
    }
}

.hPresta{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EFE9E1;
    font-size: 2rem;
}

#indexSection{
    padding-bottom: 50px;
}


#indexPresta{
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
    text-align: center;

    .indexArticle{
        display: flex;
        flex-direction: column;

    .aEvenements:hover{
        color: wheat;
    }
        
    }

    .backDiv{
        gap: 6px;
        background-color: white;
        height: 220px;
        display: flex;
        flex-direction: column;
        position: relative;
        
        h3{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        

        .btnIndex{
            background-color: wheat;
            padding: 10px;
            border-radius: 50px;
            width: fit-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
        }

        .btnIndex:hover{
            color: black;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        }
    }



    img{
        width: 300px;
        height: 400px;
        object-fit: cover;
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
    }
}

.sectionForm{
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        border: 1px solid black;
        padding: 100px;
        border-radius: 50%;
        background-color: #EFE9E1;
    }
    

    form div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button:hover{
        background-color: wheat;
    }
    
}

.your-class{
    
    img{
        width: 100%;
        height: calc(100vh - 200px);
        object-fit: cover;
       
        
    }
}

.slick-prev,.slick-next{
    visibility: hidden;
}

.fleche {
  position: absolute;
  bottom: 120px; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 50px; 
  color: #000; 
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

@keyframes move {
    0% {
    transform: translate(-50%, -50%);
    }
 
    }

