#realSection{
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    text-align: center;


    .realArticle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        

    h3{
        font-size: 2rem;
    }
    
    a{
        background-color: #efe9e1;
        padding: 10px;
        border-radius: 50px;
        width: fit-content;
    
    }

    a:hover{
        color: black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }
    
    p{
        padding-top: 10px;
    }

    
    img{
        padding-top: 10px;
        width: 300px;
        height: 400px;
        object-fit: cover;
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
        padding-bottom: 20px;
    }

        
    }

    .backDivReal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .btn{
        background-color: #efe9e1;
        padding: 10px;
        border-radius: 50px;
        width: fit-content;
        border: none;
        cursor: pointer;
        font-size: 15px;
    }

    .btn:hover{
        color: black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }

    
}