{% extends 'base.html.twig'%}
{% block title %}Blog : edit {{formuleName}}{% endblock %}

    {% block body %}
    <main>
        <section class="sectionForm">
            <div class='form'>
                {{form(form)}}
            </div>
        </section>
    </main>
    {% endblock %}
  
