{% extends 'base.html.twig' %}

{% block title %}Formulaire de Contact{% endblock %}

{% block body %}

    <section class="sectionForm">
        <div class='form'>
            {{form(form)}}
        </div>
    </section>
</section>


{% endblock %}
