{% extends 'base.html.twig'%}
{% block title %}Blog{% endblock %}

    {% block body %}
        <main>
            <h1>Ajout des Photos : </h1>
            <section class="sectionForm">
                <div class='form'>
                    {{form(form)}}
                </div>
            </section>
        </main>
    {% endblock %}
  
