{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
<main class="main">
    <h1>L'événement : </h1>
    <section id="sectionArticle">
            <article class="articleMusic">
                <h3>{{real.name}}</h3>
                {% for com in coms %}
                    <p>{{com.commentaire}}</p>
                {% endfor %}
                 {% if is_granted('ROLE_USER') %}
                     <a class="btn" href="{{ path('app_commentaire', {'id': real.id}) }}">Ajouter Commentaire<a>
                {% endif %}
            </article>  
</main>

{% endblock %}
