{% extends 'base.html.twig'%}
{% block title %}Blog{% endblock %}

    {% block body %}

        <h1>Ajout d'un commentaire : </h1>
        <article class='form'>
            {{form(form)}}
        </article>
    {% endblock %}
  
