<footer>
    <div class='icones'>
        
    </div>
    <div class='listeFooter'>
        <div>
            <ul>
                <li>06 41 86 33 95</li>
                <li>decoratrice.c@gmail.com</li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="{{path('app_a_propos')}}">A propos</a></li> 
                <li><a href="{{path('app_formulaire_de_contact')}}">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Mentions légales</li>
                <li>Politique de confidentialité</li>
              
            </ul>
        </div>
    </div>
    <p>© Skidohunter</p>
</footer>