<header>
    <nav>
        <ul>
            <li><a href="{{path('app_prestations')}}">Accueil</a></li>
            <li><a>Prestations</a></li>
            <li><a>Réalisations</a></li>
            <li><a href="{{path('app_locations')}}">Locations</a></li> 
            <li><a>A propos</a></li> 
            <li><a>Contact</a></li> 
            {# LE app.user PERMET D'afficher dans la nav seulelement le LOGIN si on est pas connecté et seuelement le logout si on est connécté !!!  #}
            {% if  app.user %}
               <li><a href="{{path('app_logout')}}">Logout</a></li> 
               {% else %}
                <li><a href="{{path('app_login')}}">Login</a></li>         
            {% endif %}
            
         
        </ul>
    </nav>
</header>