{% extends 'base.html.twig' %}

{% block title %}Hello LocationsController!{% endblock %}

{% block body %}
<h1>Locations</h1>
{% if is_granted('ROLE_ADMIN') %}
    <section class="sectionForm">
        <div class='form'>
            {{form(form)}}
        </div>
    </section>
{% endif %}
<section id="indexPresta">
    {% for loc in locs %}
        <article class="indexArticle">
            <h3>{{loc.name}}</h3>
            {% for presta in loc.prestation %}
                <h4>{{presta.name}}</h4>
            {% endfor %}

            {# {{ dump(loc) }} #}
            <p></p>
        </article>      
    {% endfor %}
</section>
{% endblock %}
